/* wd.css for brors webdok example */
body {
	background-color: #112;
	color: #eef;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

article {
	position: relative;
	height: 390px;
	width: 90%;
	margin: 2em;
	min-height: 90vh;
}

video {
	width:80%;
}

h1 {
	position: absolute;
	width: 95%;
	bottom: 2%;
	left:2%;
	padding: 2%;
	margin: 0 auto;	
	background-color: rgba(0, 0, 0, 0.6);
	opacity: 20%;
}

img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 50%;
	height: 50%;

}
p {
	position: relative;
	margin: 2% 5% 1% 5%;
	background-color: rgba(0, 0, 0, 0.6);
	padding: 1em;
	opacity: 0;
}
.hidden {

}


[boom-anim="boom"].active{
	animation: boom 0.8s;
}
@keyframes boom {
	0%  {transform: scale(1);}
	5%  {transform: scale(1.2);}
	100%  {transform: scale(1);}
}


p.fading {
	animation: fadein 4s;
	animation-fill-mode: forwards;
}

@keyframes fadein {
	0% { opacity:0 ;}
	50% { opacity:0 ;}
	100% { opacity:1 ;}
}
