/* wd.css for brors webdok example */
body {
	background-color: #112;
	color: #eef;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

article {
	position: relative;
	height: 70vh;
	width: 90%;
	margin: 0 5%;
	min-height: 70vh;
}

video {
	margin: 0 5%;
	min-height: 70vh;
	max-height: 70vh;
	margin:5%;
	width:90%;
}

h1 {
	position: absolute;
	width: 95%;
	bottom: 2%;
	left:2%;
	padding: 2%;
	margin: 0 auto;	
	background-color: rgba(0, 0, 0, 0.6);
	opacity: 20%;
}

img {
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;

}

#salling {
	position: absolute;
	overflow:hidden;

	position: relative;
	height: 70vh;
	width: 90%;
	margin: 5%;
	min-height: 70vh;

}

#salling img{
	width: 3906px;
	height: 530px;
}




p {
	position: relative;
	margin: 2% 5% 1% 5%;
	background-color: rgba(0, 0, 0, 0.6);
	padding: 1em;
	opacity: 0;
}
.hidden {

}


[boom-anim="boom"].active{
	animation: boom 0.8s;
}
@keyframes boom {
	0%  {transform: scale(1);}
	5%  {transform: scale(1.2);}
	100%  {transform: scale(1);}
}


p.fading {
	animation: fadein 4s;
	animation-fill-mode: forwards;
}

@keyframes fadein {
	0% { opacity:0 ;}
	50% { opacity:0 ;}
	100% { opacity:1 ;}
}

#salling img {
	animation: simRotate 34s;
	animation-iteration-count:infinite;
	animation-timing-function: linear;
}

@keyframes simRotate {
	0% { transform: translate(0%)}
	100% { transform: translate(-81.2%)}
}
